.default {
    background-color: #000;
    height: 1px;
    width: 24px;
    transition: transform 0.3s ease;
    position: absolute;
    left: 50%;
    top: 50%;
}

.defalut:first-child {
    transform: translateX(-50%) translateY(calc(-1 * 4));
}

.deafult:last-child {
    transform: translateX(-50%) translateY(4);
}

.active:first-child {
    transform: translateX(-50%) translateY(0) rotate(45deg);
}

.active:last-child {
    transform: translateX(-50%) translateY(0) rotate(-45deg);
}